.notification-admin {
    background-color: #f8f9fa;
    border: 1px solid #ced4da;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .notification-admin h2 {
    margin-top: 0;
    margin-bottom: 5px;
    color: #343a40;
    
  }
  
  .notification-admin p {
    margin: 0;
    color: #6c757d;
  }
  
  .notification-container-admin {
    display: flex;
    flex-wrap: wrap; 
  }
  
  
  
  
  
  
  
  
  