
.attendance-container {
    max-width: 600px;
    margin: 0 auto;
  }
  
  .title {
    color: #333;
    text-align: center;
  }
  
  .form-container {
    margin-bottom: 20px;
    text-align: center;
  }
  
  .btn {
    background-color: #4caf50;
    color: white;
    padding: 10px;
    margin: 5px;
    cursor: pointer;
  }
  
  .data-container {
    border: 1px solid #e1aaaa;
    padding: 10px;
    margin-top: 10px;
  }
  
  .data-item {
    background-color: antiquewhite;
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #89e5f1;
    border-radius: 5px;
  }
