
nav a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #1b1919;
    font-weight: bold;
    border-bottom: 1px solid #ddd;
}
  
  .main-content7{
    display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 20px; 
  }
    

  .settings-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 80px;
    margin: 20px;

  }
  
  
  .settings-buttons button {
    margin: 10px;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
  }
  
  
  .profile-button {
    background-color: #3498db;
    color: #fff;
    margin: 10px;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
  }
  
  
  .help-button {
    background-color: #27ae60;
    color: #fff;
    margin: 10px;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
  }
  
  
  .notifications-button {
    background-color: #f39c12;
    color: #fff;
    margin: 10px;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
  }
  
  

  .notifications-button2 {
    background-color: #dc4812;
    color: #fff;
    margin: 10px;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
  }


  .logout-button {
    background-color: #e74c3c;
    color: #fff;
    margin: 10px;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .reports-button {
    background-color: #1c6278;
    color: #fff;
    margin: 10px;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
  }

  .box{
    background-color: #fff;
    border: 1px solid #c2bdbd;
    padding: 60px;
    margin: 0px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

.course-item7 {
 
  border-radius: 8px;
  padding: 20px;
  margin: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.course-item7:hover {
  transform: scale(1.05);
}

.sidebar7 {
  width: 220px;
  height: 100vh;
  background-color:white;
  overflow-x: hidden;
  padding-top: 20px;
  float: left;
}

.footer7 {
  width: 100%;
  height: 50px;
  /* color:white; */
  text-align: center;
  background-color: #165fb3;
  float: left;
  /* width: 100%;
  height: 50px;
  color: aliceblue;
  text-align: center;
  background-color: #333;
  float: left; */
}

.header7 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #0d47a1;
  color: white;
  height: 100px;


}


.header7 h1 {
  color: #ffffff;
 background-color: #0d47a1;
  font-size: 38px;
}

.sidebar7 ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.sidebar7 li {
  padding: 15px;
  transition: background-color 0.3s ease;
}

.sidebar7 li:hover {
  background-color: #445161;
}

.sidebar7 label {
  color:black;
  font-size: 1.2em;
}


.sidebar7 a {
  text-decoration: none;
  color: #fff;
}

.main-content7 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}


